/* https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9 */

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:#0b132b;
}

.custom-h1 {
  font-weight:700;
}

.jumbotron {
  text-align: center;
  background-color: #1c2541;
  color: white;
  border-radius: 0;
  border-bottom: 5px solid #6fffe9;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  /* background-color:#1c2541; */
  border-top: 1px solid white;
}

.hour {
  color: white;
}

.description {
  white-space: pre-wrap;
  border:none;
  border-left: 1px dashed white;
}

.description::placeholder{
  color:#d9d9d9;
  opacity: 0.5;
}

.past {
  background-color: #3a506b;
  color: white;
}

.present {
  background-color: #c55c2f;
  color: white;
}

.future {
  background-color: #3e8382;
  color: white;
}

.saveBtn {
  border:none;
  border-left: 1px dashed white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1c2541;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  background-color:#5bc0be;
  box-shadow: 4px 4px 10px 3px #000000;
  transition: all 0.3s ease-in-out;
}
